@page
@model WebApp.Pages.Schedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Zone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].DaysOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].IsEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zone.CommandOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
